# ─── STRAPI ──────────────────────────────
.cache/
build/
public/uploads/
coverage/

# ─── DEPENDENCIAS ───────────────────────
node_modules/

# ─── ARCHIVOS DE ENTORNO ────────────────
.env*
!.env.example

# ─── LOGS Y TEMPORALES ──────────────────
*.log
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db

# ─── EDITORES ───────────────────────────
.vscode/
.idea/
